<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Beauticion</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Beauty Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<link rel="stylesheet" type="text/css" href="/static/css/slicebox.css" />
	<!-- for banner-->
	<!-- font-awesome-icons -->
	<link href="/static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome-icons -->
	<!-- //custom-theme files-->
	<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //custom-theme files-->
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext,vietnamese"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //fonts -->

</head>

<body>
	<!-- banner -->
	<div class="banner-w3l" id="home">
		<div class="header-main-agile">
			<div class="header-right-w3l">
				<div class="container">
					<ul>
						<li>
							<span class="fa fa-home" aria-hidden="true"></span> 1PO Box 8568954 Melbourne
						</li>
						<li>
							<span class="fa fa-envelope-o" aria-hidden="true"></span>
							<a href="mailto:info@example.com">info@mail.com</a>
						</li>
						<li>
							<span class="fa fa-phone" aria-hidden="true"></span> +0(15) 315 6666
						</li>
					</ul>
				</div>
			</div>
			<!-- navigation -->
			<div class="nav-links">
				<div class="container">
					<nav class="navbar navbar-inverse">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="index.html">
								<h1>
									<span>Be</span>auty
									<span>St</span>yle
								</h1>
							</a>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav link-effect">
								<li class="active">
									<a href="/adminhome">Home</a>
								</li>
								<li>
									<a href="/admin_view_users">View Users</a>
								</li>
								<li>
									<a href="/admin_view_employee">View Employees</a>
								</li>
								<li>
									<a href="/admin_vieworders">View Orders</a>
								</li>
								
								<li>
									<a href="/login_1" >Logout</a>
								</li>
								
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- /navigation -->
		</div>
		<div class="wrapper">
			<ul id="sb-slider" class="sb-slider">
				<li>
					<a href="#">
						<img src="/static/images/1.jpg" alt="image1" />
					</a>
					<div class="sb-description">
						<h3>Be<span>au</span>ty St<span>yl</span>e</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.Lorem ipsum dolor sit amet.</p>
						<i></i>
					</div>
				</li>
				<li>
					<a href="#">
						<img src="/static/images/2.jpg" alt="image2" />
					</a>
					<div class="sb-description">
						<h3>Be<span>au</span>ty St<span>yl</span>e</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.Lorem ipsum dolor sit amet.</p>
						<i></i>
					</div>
				</li>
				<li>
					<a href="#">
						<img src="/static/images/3.jpg" alt="image1" />
					</a>
					<div class="sb-description">
						<h3>Be<span>au</span>ty St<span>yl</span>e</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua.Lorem ipsum dolor sit amet.</p>
						<i></i>
					</div>
				</li>
			</ul>
			<div id="nav-arrows" class="nav-arrows">
				<a href="#">Next</a>
				<a href="#">Previous</a>
			</div>

		</div>
		<!-- /wrapper -->
	</div>
	<!-- //banner -->
	
	<!-- Modal1 -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<section>
					<div class="modal-body">
						<h5>Beauty Style</h5>
						<img src="/static/images/1.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
							consequatur? Quis autem vel eum iure reprehenderit qui in ea.
						</p>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- //news -->
	
	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<div class="contact-grid-agiles-w3l">
				<div class="col-md-7 contact-grid-agile">
					


                    <section class="site-section bg-light">
                        <div class="container">
                          <h2 style="margin-left: 450px;" class="mb-4 text-primary" >View Employees</h2><br>
                          <div class="row">
                            <div class="col-md-12">
                              <table class="table table-hover" cellspacing="2" cellpadding="2">
                                  <thread>
                                    <tr class="table-primary">
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone number</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Address</th>
                                        <th colspan="3" scope="col">Action</th>
                                    </tr>   
                                    {% for i in data %}
                                  </thread>
                                  <tbody>
                                    <tr>
                                        <td>{{i.Username1}}</td>
                                        <td>{{i.Email1}}</td>
                                        <td>{{i.Phonenumber1}}</td>
                                        <td><img src="/static/Image/{{i.Image1}}" alt="image" width="100" height="100"></td>
                                        <td>{{i.Address1}}</td>
                  
                                      {% if i.status == 'pending' %}
                                          <td><a href="/actionemployee?id={{i.id}}&status=1" class="btn btn-success">Approve</a></td>
                                                 
                                          <td><a href="/rejectemployee?id={{i.id}}" class="btn btn-danger">Reject</a></td>
                      
                                      {% else %}
                                          <td><a href="/deleteemployee?id={{i.id}}"><button type="button" class="btn btn-outline-primary">Delete</button></a></td>  
                                      {% endif %}
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table> 
                            </div>
                          </div>
                        </div>
                      </section>

				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //contact -->

	
	<!-- footer -->
	<footer>
		<div class="footer-bottom-agile">
			<div class="container">
				<div class="footer-bottom-agile-grids">
					<div class="col-md-4 footer-logo">
						<h2>
							<span>Be</span>auty
							<span>St</span>yle</h2>
						<p>Suspendisse potenti. Pellentesque pulvinar tellus at est ullamcorper, at elementum nibh laoreet. Nunc id diam in nulla
							sollicitudin auctor.</p>
						<div class="footer-social-grids-w3l">
							<ul>
								<li>
									<a href="#">
										<span class="fa fa-facebook"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-twitter"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-rss"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-vk"></span>
									</a>
								</li>
							</ul>
						</div>

					</div>
					<div class="col-md-4 footer-bottom-agile-left">
						<h5>Our Events</h5>
						<div class="footer-img-grids">
							<div class="footer-img">
								<img src="/static/images/f4.jpg" alt="" />
							</div>
							<div class="footer-img-info">
								<p>Suspese potenti. Pelleue pulvinar tellus at est.</p>
								<span>20 Nov 2017</span>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="footer-img-grids grid-foot-2">
							<div class="footer-img">
								<img src="/static/images/f6.jpg" alt="" />
							</div>
							<div class="footer-img-info">
								<p>Suspese potenti. Pelleue pulvinar tellus at est.</p>
								<span>24 Nov 2017</span>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4 mk-footer one tweet footer-bottom-agile-right">
						<h5>Tweets</h5>
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus.
									<i>http//example.com</i>
								</a>
								<span>About 15 minutes ago
									<span>
									</span>
								</span>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="copyright-agile">
			<div class="container">
				<p>© 2017 Beauty Style. All rights reserved | Design by
					<a href="http://w3layouts.com">W3layouts</a>
				</p>
			</div>
		</div>
	</footer>
	<!-- //footer -->


	<!-- js -->
	<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
	<!-- for bootstrap working -->
	<script src="/static/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js -->

	<!-- banner slider js -->
	<script type="text/javascript" src="/static/js/modernizr.custom.46884.js"></script>
	<script type="text/javascript" src="/static/js/jquery.slicebox.js"></script>
	<script type="text/javascript">
		$(function () {

			var Page = (function () {

				var $navArrows = $('#nav-arrows').hide(),
					$shadow = $('#shadow').hide(),
					slicebox = $('#sb-slider').slicebox({
						onReady: function () {

							$navArrows.show();
							$shadow.show();

						},
						orientation: 'r',
						cuboidsRandom: true
					}),

					init = function () {

						initEvents();

					},
					initEvents = function () {

						// add navigation events
						$navArrows.children(':first').on('click', function () {

							slicebox.next();
							return false;

						});

						$navArrows.children(':last').on('click', function () {

							slicebox.previous();
							return false;

						});

					};

				return {
					init: init
				};

			})();

			Page.init();

		});
	</script>
	<!-- //banner slider js -->

	<!-- //here starts scrolling icon -->
	<script src="/static/js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="/static/js/move-top.js"></script>
	<script type="text/javascript" src="/static/js/easing.js"></script>
	<!-- here stars scrolling script -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling script -->
	<!-- //here ends scrolling icon -->

	<!-- scrolling script -->
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //scrolling script -->
	<!-- flexisel -->
	<script type="text/javascript" src="/static/js/jquery.flexisel.js"></script>
	<script type="text/javascript">
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 3
					}
				}
			});

		});
	</script>
	<!-- //flexisel -->
	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

</body>

</html>